BasedOnStyle: WebKit
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: true
  BeforeElse: true
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: Yes
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakBeforeMultilineStrings: false
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpacesInAngles: false
SortIncludes: false
SeparateDefinitionBlocks: Always
ReflowComments: false
IndentWrappedFunctionNames: false
IndentCaseLabels: true
ColumnLimit: 0
AlignAfterOpenBracket: BlockIndent
AlignOperands: true
AlignTrailingComments: true
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
InsertNewlineAtEOF: true
Language: Cpp
Standard: Cpp03
